<!doctype html>
<html>
  <head>
    <title>Recipes</title>
  </head>

  <body>
    <header><h1>Recipes</h1></header>
    <ul>
      {% for recipe in recipes %}
      <li>
        {{ recipe.name }}
        <ul>
          {% for ingredient in recipe.ingredients.all %}
          <li>
            {% if ingredient.find_stocks %} [X]
            {% else %} [ ]
            {% endif %}

            {{ ingredient.short_str }}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
